@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,600,700|IBM+Plex+Sans:400,500,700|IBM+Plex+Serif:500i,700i');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');



@font-face {
    font-family: 'Arbel';
    src: url('../css/arbelhagildareg.menukad-webfont.woff');
    src: url('../css/arbelhagildareg.menukad-webfont.eot') format('eot'), 
         url('../css/arbelhagildareg.menukad-webfont.ttf') format('truetype');
  }


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}