@import 'fonts.css';

body {
    --padding-date: 128px;
    box-sizing: border-box;
    overscroll-behavior: none;
    transition: all 0.3s linear;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--background);
}

.video-tile.invisible {
    /* display: none !important; */
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  .intro-page-cover {
      top:0px;
      left: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #FFD03E;
    display: flex;
    position: fixed;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
}


.intro-page-cover.page-loaded {
    opacity: 0;
    pointer-events: none;
}

#map {
    z-index: 0;
    position: fixed;
    width:100%;
    height: 105%;
    top:0px;
    left: 0px;
    pointer-events: none;
}


.map-marker {
    top:-25px !important;
   background: var(--side-highlight);
    font-family: 'Arbel', monospace;
    padding:5px 6px;
    font-size: 10px;
    line-height: 12px;
    color:var(--primary-dark);
    background: #fff;
    transition: opacity 0.2s linear;

  }

  .map-marker:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top-color: #fff;;
	border-bottom: 0;
	margin-left: -11px;
	margin-bottom: -5px;
}

body.style-events .map-marker ,
body.style-speakers .map-marker ,
body.style-video .map-marker  {
    opacity: 0;
}

.transition {
    transition: all 0.3s linear;
}

/* style classes */
body.style-intro {
    --background: #FFD03E;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;
    --secondary-dark: #fff;
    --side-color: #fff;
    --side-highlight: #fff;
}

body.style-tickets {
    --background: #FFD03E;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #fff;
    --side-color: #fff;
    --side-highlight: #fff;
}

body.style-events {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #4F8DF9;
    --side-color: #fff;
    --side-highlight: #4F8DF9;
}

body.style-speakers {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #FFD03E;
    --side-color: #fff;
    --side-highlight: #FFD03E;
}

body.style-venue {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #4F8DF9;
    --side-color: #fff;
    --side-highlight: #4F8DF9;
}

body.style-video {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #4F8DF9;
    --side-color: #fff;
    --side-highlight: #4F8DF9;
}

.section {
    padding-left: 80px;
    padding-right: 260px;
    padding-top: 40px;
    z-index: 2;
    position: relative;
    max-width: 1360px;
    margin: auto;
}

/* navigation */

nav {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 244px;
    top: 0px;
    right: 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    /* background: var(--side-color); */
}

.shenkar-logo {
    fill: var(--primary-dark);
    transition: all 0.2s linear;
}
.lockup-title {
    font-family: "IBM plex Sans";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.3px;
    padding-bottom: 8px;
    color: var(--primary-dark);

}

nav li {
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color: var(--primary-dark);
    font-family: 'Space Mono', monospace;
    list-style: none;
    /* text-transform: uppercase; */
    transition: color 0.2s linear;
    cursor: pointer;
}

body.style-intro .scrollToLink.intro-link,
body.style-tickets .scrollToLink.tickets-link,
body.style-events .scrollToLink.events-link,
body.style-speakers .scrollToLink.speakers-link,
body.style-venue .scrollToLink.venue-link,
body.style-video .scrollToLink.video-link {
    color: var(--side-highlight);
}


/* intro titles */

#introData {
    height: 80vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-title-1 {
    color: var(--primary-dark);
    font-family: 'Arbel', monospace;
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
}
.intro-title-2 {
    margin:32px 0 48px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}
.intro-title-3 {
    color: var(--primary-dark);
    font-family: 'Arbel', monospace;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 600;
    max-width:450px;
}


/* tickets */
.tickets-block {
    /* border-radius: 4px; */
    color: var(--primary-dark);
    padding:20px;
    border: 4px solid var(--primary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
 .tickets-block.is-disabled { 
    /* color: var(--primary-dark-disabled); */
}
.tickets-meta-title {
    font-family: 'IBM Plex Sans', monospace;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}
.tickets-main-title {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.3px;
    margin-bottom: 6px;
}
.is-disabled .tickets-main-title { 
    text-decoration: line-through;
}




.tickets-subtitle {
    font-family: 'Arbel', monospace;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}
.button {
background: var(--primary-dark);
color:#fff;
text-transform: uppercase;
font-size: 16px;
line-height: 28px;
font-weight: 600;
padding: 6px 14px;
font-family: 'IBM Plex Sans';
cursor: pointer;
border-radius: 0px;
transition: all 0.2s linear;
}
.button:hover {
background: #444;

}

.is-disabled .button{
    display: none
}
.sold-out-tag{
    display: none;
}
.is-disabled .sold-out-tag{
    display: flex;
    text-decoration: none;
}

/* Events table */
.section-title {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    line-height: 72px;
    color: var(--secondary-dark);
    padding-bottom: 44px;
    transition:  all 0.2s linear;
}

.event-collection-title {
    font-family: 'IBM Plex Sans', monospace;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.event-tile {
    padding: 4px 0 10px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    /* justify-content: center; */
}

.event-block {
    padding: 40px 0;
    border-top: 4px solid var(--secondary-dark);
    cursor: pointer;
   
}
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-block span .event-button{
    color:var(--primary-dark);
    opacity: 0;
    transition: all 0.3s linear;
    transform: rotate(0deg);

    }
 
    .isOpen span .event-button{
    transform: rotate(180deg);
    }
.event-block:hover .event-time,
.event-block:hover .event-tile__meta,
.event-block:hover .event-tile__title,
.event-block:hover span .event-button,
.event-block:hover .event-tile__author {
    color:var(--secondary-dark);
    opacity: 1;
}

.event-titles {
    display: flex;
    width: 100%;
}
.event-time {

    font-family: 'Space Mono', monospace;
    font-style: italic;
    width: var(--padding-date);
    min-width: var(--padding-date);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-dark);
    padding-top: 20px;

}
.event-time.no-subtitle {
    padding-top: 4px;
}

.event-tile__meta {
    color: var(--primary-dark);
    font-family: 'IBM Plex Sans', monospace;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

.event-tile__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-dark);
    font-family: 'Space Mono', monospace;
    font-style: italic;

}

.event-tile__author {
    /* padding-left: var(--padding-date); */
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-dark);
    font-family: 'Arbel', monospace;
    margin-top: 6px;
}


.event-content {
    display: block;
    height: auto;
    max-height:0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    margin-left: var(--padding-date);
    max-width: 550px;
    font-size: 16px;
    color:var(--primary-dark);
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-top: 0px;

}

 .isOpen .event-content{
    max-height:1000px;
    margin-top: 24px;
}


/* event images  */
.event-images-container 
{
max-width: 100%;
position: relative;
height: 330px;
}
.event-images-container .event-image 
{
    width:100%;
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0;
    transition: all 0.2s ease;
}
.event-image.image-visible {
    opacity: 1;
}
.event-images-container-controls {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s linear;
}
.event-images-container-controls:hover { 
opacity: 1;
}
.carrousel-button {
    color:#fff;
}
.carrousel-button:hover {
    color:var(--secondary-dark);
}

/* Speakers */
.speakers-col {
    display: flex;
    flex-flow: column;
}

.speakers-block {
    display: flex;
    flex-flow: column;
}
.speaker-tile {
    color: var(--primary-dark);
    padding:40px 0;
    border-top: 4px solid var(--secondary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.speaker-tile.grid-hide {
display: none;
}
.speaker-tile-header {
    background: var(--secondary-dark);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 24px;
    box-sizing: border-box;
    width: calc(var(--padding-date) - 24px);
    min-width: calc(var(--padding-date) - 24px);
    position: relative;
}
.speaker-tile-header img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    mix-blend-mode:multiply;
    width: 100%;
    opacity: 1;
}
.speaker-tile .speaker-tile-title {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 20px;
    color: var(--primary-dark);
    font-family: 'Space Mono', monospace;
    padding-bottom: 8px;

}
.speaker-tile .speaker-tile-subtitle {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: var(--primary-dark);
    font-family: 'Arbel', monospace;
    margin-bottom: 16px;
}
.speaker-tile .speaker-tile-desc {
    color: var(--primary-dark);
    /* padding-bottom: 24px; */
    flex-grow: 1;
    font-size: 16px;
    color:var(--primary-dark);
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 26px;

}


/* videos */
.video-tile {
    padding: 8px;
    background: rgba(1,23,21,0.07);
    transition: all 0.2s linear;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    
}


.video-tile .material-icons {
opacity: 0;
color: var(--side-highlight);
width:24px;
overflow: hidden;
}
.video-tile:hover .material-icons {
opacity: 1;
}

.video-tile:not(.inactive):hover {
    background: rgba(1,23,21,0.1);
} 

.video-title {
    font-family: 'IBM Plex Serif', serif;
font-size: 15px;
line-height: 16px;
margin-bottom: 4px;
color: var(--primary-dark);
}

.video-subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
font-size: 12px;
line-height: 14px;
color: var(--primary-dark);
}
.video-tile:not(.inactive):hover  .video-title ,  .video-tile:not(.inactive):hover  .video-subtitle{
    color:var(--side-highlight);
    }

    
    .video-tile.inactive {
        background: rgba(1,23,21,0.02);
         
 }
 .video-tile.inactive .video-subtitle, .video-tile.inactive .video-title,  .video-tile.inactive:hover .material-icons {
 opacity: 0.5;
}
 .tags-container {
        padding-bottom: 40px;
    }
.video-tag {
    padding:4px 6px;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color:var(--primary-dark);
margin-right: 4px;
line-height: 16px;
background: rgba(0,0,0,.1);
border-radius: 6px;
transition: all 0.3s ease-in-out;
cursor: pointer;
text-transform: uppercase;
}

.video-tag:hover { 
background: rgba(0,0,0,.2);
}
.video-tag.active-tag {
background: var(--secondary-dark);
color: #fff;
} 

.tags-title {
    font-family: 'IBM Plex Mono', monospace;
font-size: 12px;
color: rgba(0,0,0,0.87);
line-height: 16px;
margin-bottom: 12px;
margin-top: 16px;
}

    /* mobbile */

    @media only screen and (max-width: 640px) {
        *{
            --padding-date:72px;
        }
        #map {
            width: 100%;
            left: 0px;
        }
    nav {
        display: none;
    }
    .section {
        padding-left: 12px;
        padding-right: 32px;
    }
    .event-tile {
        align-items: flex-start;
    }
    .event-tile__title {
        font-size: 16px;
        line-height: 22px;
    }
    .event-tile__author {
        font-size: 12px;
        line-height: 16px;  
    }
    .event-time {
font-weight: 700;
font-size: 16px;
line-height: 22px;
    }
    .speaker-tile {
width: 100%;
max-width: 100%;
    }
    .speaker-tile.grid-hide {
        display: block;
        }
    .speakers-col { 

    display: none;
}
    .speakers-col:first-child  {
        display: block;
    }
    
    .speakers-block {
        display: block;
    }

    }