@import 'fonts.css';

body {
    --padding-date: 128px;
    box-sizing: border-box;
    overscroll-behavior: none;
    transition: all 0.3s linear;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--background);
    --monospace-running: 'Miriam Libre', sans-serif;
    /* --monospace-title:"Arbel", sans-serif; */
    --monospace-title: 'Miriam Libre', sans-serif;


    --text: "IBM plex Sans", sans-serif;

    --size-tags: 12px;
    --lh-tags: 12px;

    --size-running: 14px;
    --lh-running: 24px;

    --size-titles: 20px;
    --lh-titles: 24px;

}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}


a {
    text-decoration: none;
}

.video-tile.invisible,
.video-tile.inactive.invisible {
    /* display: none !important; */
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
}

.displaynone {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.intro-page-cover {
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #FFD03E;
    display: flex;
    position: fixed;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
}


.intro-page-cover.page-loaded {
    opacity: 0;
    pointer-events: none;
}

#map {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}


.map-marker {
    top: -25px !important;
    background: var(--side-highlight);
    font-family: var(--monospace-running);
    padding: 5px 6px;
    font-size: 10px;
    line-height: 12px;
    color: var(--primary-dark);
    background: #fff;
    transition: opacity 0.2s linear;
    border-radius: 3px;

}

.map-marker:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: #fff;
    ;
    border-bottom: 0;
    margin-left: -11px;
    margin-bottom: -5px;
}

body.style-events .map-marker,
body.style-speakers .map-marker,
body.style-video .map-marker {
    opacity: 0;
}

.transition {
    transition: all 0.3s linear;
}

/* style classes */
body.style-intro {
    --background: #FFD03E;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;
    --secondary-dark: #fff;
    --side-color: #fff;
    --side-highlight: #fff;
}

body.style-tickets {
    --background: #FFD03E;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #fff;
    --side-color: #fff;
    --side-highlight: #fff;
}

body.style-events {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #4F8DF9;
    --side-color: #fff;
    --side-highlight: #4F8DF9;
}

body.style-speakers {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #FFD03E;
    --side-color: #fff;
    --side-highlight: #FFD03E;
}

body.style-venue {
    --background: #F8F8F8;
    --primary-dark: #011715;
    --primary-dark-disabled: #ccc;

    --secondary-dark: #4F8DF9;
    --side-color: #fff;
    --side-highlight: #4F8DF9;
}

body.style-video {
    --background: #011715;
    --primary-dark: #fff;
    --primary-dark-disabled: #aaa;

    --secondary-dark: #E6648F;
    --side-color: #fff;
    --side-highlight: #E6648F;
}

.section {
    padding-left: 80px;
    padding-right: 260px;
    padding-top: 40px;
    z-index: 2;
    position: relative;
    max-width: 1360px;
    margin: auto;
}

/* navigation */

nav {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 244px;
    top: 0px;
    right: 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    /* background: var(--side-color); */
}

.shenkar-logo {
    fill: var(--primary-dark);
    transition: all 0.2s linear;
}

.lockup-title {
    font-family: var(--text);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.3px;
    padding-bottom: 8px;
    color: var(--primary-dark);

}

nav li {
    font-weight: 600;
    /* font-style: italic; */
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color: var(--primary-dark);
    font-family: var(--monospace-title);
    list-style: none;
    /* text-transform: uppercase; */
    transition: color 0.2s linear;
    cursor: pointer;
}

body.style-intro .scrollToLink.intro-link,
body.style-tickets .scrollToLink.tickets-link,
body.style-events .scrollToLink.events-link,
body.style-speakers .scrollToLink.speakers-link,
body.style-venue .scrollToLink.venue-link,
body.style-video .scrollToLink.video-link {
    color: var(--side-highlight);
}


/* intro titles */

#introData {
    height: 80vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-title-1 {
    color: var(--primary-dark);
    font-family: var(--monospace-running);
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
}

.intro-title-2 {
    margin: 32px 0 48px;
    color: var(--primary-dark);
    font-family: var(--monospace-title);
    /* font-style: italic; */
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}

.intro-title-3 {
    color: var(--primary-dark);
    font-family: var(--monospace-running);
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 600;
    max-width: 450px;
}




/* logo */

.intro-logo {
display: flex;
flex-direction: row;
align-items: flex-end;
}
.logo-left {
    display: flex;
flex-direction: column;
text-align: right;
}
.logo-left-caption {
   font-family: 'Miriam Libre', sans-serif;
    font-size: 16px;
    line-height: 20px;
   font-weight: 700;
   margin-bottom: 16px;
   opacity: .4;

}
.logo-left-logo {
   font-family: 'Miriam Libre', sans-serif;
   font-size: 120px;
   line-height: 104px;
   font-weight: 700;

}
.logo-right {
   font-family: 'Miriam Libre', sans-serif;
   font-size: 120px;
   line-height: 104px;
   font-weight: 400;
   position: relative;
   color:#fff;

}
.logo-right .intro-title-3 {
    position: absolute;
    bottom: -40px;
    width: 320px;
}

/* Call for submitions */
.cross {
    text-decoration: line-through;
}

.cfs-tags-container {
    margin-top: 24px;
    display: flex;
}

.cfs-tag {
    padding: 5px;
    font-family: var(--monospace-running);
    padding: 5px 6px;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    background: var(--primary-dark);
    display: inline-block;
    margin-right: 24px;
    position: relative;
    border-radius: 3px;

}


.cfs-tag:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: var(--primary-dark);
    border-bottom: 0;
    margin-left: -11px;
    margin-bottom: -5px;
}

.cfs-tag.white {
    background: #fff;
    color: var(--primary-dark);
}

.cfs-tag.white:after {
    border-top-color: #fff;

}

.cfs-tag-subtitle {
    font-weight: 700;
    text-transform: uppercase;
}


/* tickets */
.tickets-block {
    /* border-radius: 4px; */
    color: var(--primary-dark);
    padding: 20px;
    border: 4px solid var(--primary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.tickets-block.is-disabled {
    /* color: var(--primary-dark-disabled); */
}

.tickets-meta-title {
    font-family: var(--text);
    text-transform: uppercase;
    font-size: var(--size-tags);
    font-weight: 700;
    line-height: var(--lh-tags);
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

.tickets-main-title {
    font-family: var(--monospace-title);
    font-weight: 700;
    /* font-style: italic; */
    font-size: var(--size-titles);
    line-height: 48px;
    letter-spacing: -0.3px;
    margin-bottom: 6px;
}

.is-disabled .tickets-main-title {
    text-decoration: line-through;
}




.tickets-subtitle {
    font-family: var(--monospace-running);
    font-size: var(--size-running);
    line-height: var(--lh-running);
    margin-bottom: 8px;
}

.button {
    background: var(--primary-dark);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    padding: 6px 14px;
    font-family: var(--text);
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.2s linear;
}

.button:hover {
    background: #444;

}

.is-disabled .button {
    display: none
}

.sold-out-tag {
    display: none;
}

.is-disabled .sold-out-tag {
    display: flex;
    text-decoration: none;
}

/* Events table */
.section-title {
    font-family: var(--monospace-title);
    font-size: 40px;
    font-weight: 600;
    /* font-style: italic; */
    line-height: 72px;
    color: var(--secondary-dark);
    padding-bottom: 44px;
    transition: all 0.2s linear;
}

.event-collection-title {
    font-family: var(--text);
    text-transform: uppercase;
    font-size: var(--size-tags);
    ;
    font-weight: 700;
    line-height: var(--lh-tags);
    ;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.event-tile {
    padding: 4px 0 10px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    /* justify-content: center; */
}

.event-block {
    padding: 40px 0;
    border-top: 4px solid var(--secondary-dark);
    cursor: pointer;

}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-block span .event-button {
    color: var(--primary-dark);
    opacity: 0;
    transition: all 0.3s linear;
    transform: rotate(0deg);
    top: 3px;
    position: relative;
}

.isOpen span .event-button {
    transform: rotate(180deg);
}

.event-block:hover .event-time,
/* .event-block:hover .event-tile__meta, */
.event-block:hover .event-tile__title,
.event-block:hover span .event-button,
.event-block:hover .event-tile__author {
    color: var(--secondary-dark);
    opacity: 1;
}

.event-titles {
    display: flex;
    width: 100%;
}

.event-time {

    font-family: var(--monospace-title);
    /* font-style: italic; */
    width: var(--padding-date);
    min-width: var(--padding-date);
    font-weight: 600;
    font-size: var(--size-titles);
    line-height: var(--lh-titles);
    color: var(--primary-dark);
    padding-top: 32px;

}

.event-time.no-subtitle {
    padding-top: 4px;
}

.event-tile__meta {
    color: var(--background);
    background: var(--secondary-dark);
    padding: 4px;
    border-radius: 4px;
    font-family: var(--text);
    text-transform: uppercase;
    font-size: var(--size-tags);
    font-weight: 700;
    line-height: var(--lh-tags);
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.event-tile__title {
    font-weight: 600;
    font-size: var(--size-titles);
    line-height: var(--lh-titles);
    color: var(--primary-dark);
    font-family: var(--monospace-title);
    /* font-style: italic; */

}

.event-tile__author {
    /* padding-left: var(--padding-date); */
    font-weight: 400;
    font-size: var(--size-running);
    line-height: var(--lh-running);
    color: var(--primary-dark);
    font-family: var(--monospace-running);
    margin-top: 6px;
}


.event-content {
    display: block;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    margin-left: var(--padding-date);
    max-width: 550px;
    font-size: 16px;
    color: var(--primary-dark);
    font-family: var(--text);
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-top: 0px;

}

.isOpen .event-content {
    max-height: 1000px;
    margin-top: 24px;
}


/* event images  */
.event-images-container {
    max-width: 100%;
    position: relative;
    height: 330px;
}

.event-images-container .event-image {
    width: 100%;
    transition: all 0.2s ease;
}

.event-image.image-visible {
    opacity: 1;
}

.event-images-container-controls {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s linear;
}

.event-images-container-controls:hover {
    opacity: 1;
}

.carrousel-button {
    color: #fff;
}

.carrousel-button:hover {
    color: var(--secondary-dark);
}

/* Speakers */
.speakers-col {
    display: flex;
    flex-flow: column;
}

.speakers-block {
    display: flex;
    flex-flow: column;
}

.speaker-tile {
    color: var(--primary-dark);
    padding: 40px 0;
    border-top: 4px solid var(--secondary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.speaker-tile.grid-hide {
    display: none;
}

.speaker-tile-header {
    background: var(--secondary-dark);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 24px;
    box-sizing: border-box;
    width: calc(var(--padding-date) - 24px);
    min-width: calc(var(--padding-date) - 24px);
    position: relative;
}

.speaker-tile-header img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    mix-blend-mode: multiply;
    width: 100%;
    opacity: 1;
}

.speaker-tile .speaker-tile-title {
    font-size: var(--size-titles);
    font-weight: 600;
    /* font-style: italic; */
    line-height: var(--lh-titles);
    color: var(--primary-dark);
    font-family: var(--monospace-title);
    padding-bottom: 8px;

}

.speaker-tile .speaker-tile-subtitle {
    font-size: var(--size-running);
    font-weight: 700;
    line-height: var(--lh-running);
    color: var(--primary-dark);
    font-family: var(--monospace-running);
    margin-bottom: 16px;
}

.speaker-tile .speaker-tile-desc {
    color: var(--primary-dark);
    /* padding-bottom: 24px; */
    flex-grow: 1;
    font-size: 16px;
    color: var(--primary-dark);
    font-family: var(--text);
    line-height: 26px;

}


/* videos */

.videos-block {
    min-height: 1000px;
}

.video-tile {
    box-sizing: border-box;
    width: calc(50% - 32px);
    margin-right: 16px;
    padding: 16px;
    display: flex;
    background: #000;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04); */
    border-radius: 4px;
    align-items: flex-start;
    border: 1px solid rgba(255,255,255,0.2);
    transition: all 0.2s linear;
    margin-bottom: 16px;
    position: relative;
    text-overflow: ellipsis;

}
.video-tile img {
    display: inline-block;
    width: 120px;
    padding-right: 12px;
}
.video-tile-background {
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    transition: all 0.2s;
}

.video-tile:hover .video-tile-background {
   
    opacity: 0.5;
}


.video-tile .material-icons {
    opacity: 0;
    position: relative;
    top: 3px;
    color: #fff;
    width: 24px;
    font-size: 16px;
    margin-left: 0px;
    transition: all 0.3s linear;
    overflow: hidden;
}

.video-tile:hover .material-icons {
    opacity: 1;
}



.video-title {
    display: inline-block;
    z-index: 2;
    /* width: calc(100% - 140px); */
}



.video-title .video-title-title {
    position: relative;
    display: block;
    align-items: center;
    font-family: 'IBM Plex Sans', serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: var(--primary-dark);
    padding-top: 4px;
}

.video-subtitle {
    font-family: 'IBM Plex Sans', serif;
    font-weight: 400;
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    color: var(--primary-dark);
}

.video-abstract {
    margin-top: 12px;
    font-family: 'IBM Plex Sans', serif;
    font-size: 13px;
    line-height: 21px;
    color: var(--primary-dark);
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}


.video-tile:hover  {
    /* background: var(--side-highlight); */
}



.video-tile.inactive {
    display: none;
    width: 0%;
    height: 0px;
}

.tags-container {
    padding-bottom: 40px;
}

.video-tag {
    font-weight: 700;
    padding: 4px 6px;
    font-size: var(--size-tags);
    font-family: var(--monospace-running);
    color: var(--primary-dark);
    margin-right: 4px;
    line-height: var(--lh-tags);
    background: rgba(255,255,255, 0.1);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

.video-tag:hover {
    background: rgba(255,255,255, 0.2);
}

.video-tag.active-tag {
    background: var(--secondary-dark);
    color: #fff;
}

.tags-title {
    font-weight: 700;
    font-family: var(--monospace-running);
    font-size: var(--size-tags);
    letter-spacing: 0.7px;
    color: var(--primary-dark);
    line-height: var(--lh-tags);
    margin-bottom: 12px;
    margin-top: 16px;
}

.video-title .tags-container {
    padding-bottom: 8px;
    position: relative;
    left: -4px;
}

.video-title-tag {
    background: rgba(255,255,255,.1);
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
    font-family: var(--monospace-running);
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-dark);
    margin-right: 6px;
}

.videos-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* video modal */
.videos-modal-backdrop {
    background: rgba(0,0,0,.70);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-out;
}
.videos-modal-backdrop--active {
    opacity: 1;
    pointer-events: all;
}
.videos-modal-container {
    background: rgba(0,0,0,.70);   
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 999;
    opacity: 0;
    display: flex;
    pointer-events: none;
    transition: opacity .3s ease-out;

}
.videos-modal-container--active{
    opacity: 1;
    pointer-events: all;
}
.videos-modal {
    display: none;
    background: #FAFAFA;
    max-width: 700px;
    max-height: 520px;
    padding: 24px;
    box-shadow: 0 15px 12px 0 rgba(0,0,0,0.22), 0 19px 38px 0 rgba(0,0,0,0.30);
    flex-direction: column;
    position: relative;
    border-radius: 6px;
}
.flex-rows {
display: flex;
flex-direction: row;
}
.videos-modal.active-modal {
    display: flex;
}


.cursorpointer {
cursor: pointer;
}
.modal-left,
.modal-right {
flex-direction: column;
padding-right: 20px;
}
.modal-right {
    overflow-y:scroll;
    max-height: 500px;
}

.videos-modal-closebbutton {
    position: absolute;
    top:16px;
    right: 16px;
}


.modal-video-tile {
    max-width: 300px;
}
.modal-youtube-link {
    font-size: 12px;
    font-weight: 600;
   font-family: var(--text);
    color: rgba(0,0,0,.87);
    display: flex;
    line-height: 17px;
    margin-top: 16px;
}
.modal-youtube-link i {
font-size: 16px;
}

.modal-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-image {
    width:56px;
    height: 56px;
    margin-right: 12px;
    border-radius: 100%;
    background-size: cover;
}
.modal-author-text {
 
}
.modal-author-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
   font-family: var(--text);
   color: rgba(0,0,0,.87);
}
.modal-author-desc   {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
   font-family: var(--text);
   color: rgba(0,0,0,.87);
}

.modal-video-title {
font-size: 20px;
font-weight: 600;
font-family: var(--text);
color: rgba(0,0,0,.87);
line-height: 21px;
padding:12px 0 8px;
}

.modal-video-abstract {
    font-size: 13px;
font-weight: 400;
font-family: var(--text);
color: rgba(0,0,0,.87);
line-height: 21px;
margin-bottom: 24px;
}
.modal-video-bio {
    font-size: 13px;
    font-weight: 400;
    font-family: var(--text);
    color: rgba(0,0,0,.87);
    line-height: 21px;
}

.modal-video-social {
    padding-top: 0px;
    position: relative;
    top: 7px;
    display: inline-block;
    margin-left: 8px;
}
.modal-video-social svg path {
    transition: 0.3s linear;
    fill: rgba(0,0,0,.87);
}
.modal-video-social svg:hover path{
    fill:var(--secondary-dark);
}

/* mobbile */

@media only screen and (max-width: 640px) {

    body {
        --padding-date: 72px;

        --size-titles: 16px;
        --lh-titles: 20px;


        --size-tags: 14px;
        --lh-tags: 16px;


    }

    #map {
        width: 100%;
        left: 0px;
    }

    nav {
        display: none;
    }

    .section {
        padding-left: 12px;
        padding-right: 32px;
    }


    .logo-left-caption {
         font-size: 12px;
         line-height: 14px;
        margin-bottom: 12px;

     
     }
     .logo-left-logo {
        font-size: 60px;
        line-height: 60px;

     
     }
     .logo-right {
        font-size: 60px;
        line-height: 60px;

     
     }
     .logo-right .intro-title-3 {
        bottom: -40px;
        width: 190px;
        font-size: 10px;
        line-height: 14px;
     }

     .event-block {
         padding:24px 0; 
     }
     .event-titles {
         flex-direction: column;
     }
    .event-tile {
        align-items: flex-start;
        padding: 0;
    }
    

    .event-tile__title {
        font-size: 16px;
        line-height: 22px;
    }

    .event-tile__author {
        font-size: 12px;
        line-height: 18px;
    }

    .event-time {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        padding-top: 0;
    }
.event-tile__meta {
font-size: 10px;
line-height: 12px;
}
    .speaker-tile {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
    }

    .speaker-tile.grid-hide {
        display: block;
    }

    .speakers-col {

        display: none;
    }

    .speakers-col:first-child {
        display: block;
    }

    .speakers-block {
        display: block;
    }

    .video-tile {
        width: 100%;
        flex-direction: column;
    }
    .video-title {
        width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }
}