@import 'fonts.css';

body {
    --padding-date: 128px;
    box-sizing: border-box;
    overscroll-behavior: none;
    transition: all 0.3s linear;
    max-width: 100%;
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

#map {
    z-index: 0;
    position: fixed;
    width:calc(100% - 246px);
    height: 105%;
    top:0px;
    left: 246px;
    pointer-events: none;
}


.transition {
    transition: all 0.3s linear;
}

/* style classes */
body.style-intro {
    background: #65E4D8;
    --primary-dark: #011715;
    --secondary-dark: #fff;
    --side-color: #fff;
    --side-highlight: #65E4D8;
}

body.style-tickets {
    background: #65E4D8;
    --primary-dark: #011715;
    --secondary-dark: #fff;
    --side-color: #fff;
    --side-highlight: #65E4D8;
}

body.style-events {
    background: #F8F8F8;
    --primary-dark: #011715;
    --secondary-dark: #65E4D8;
    --side-color: #fff;
    --side-highlight: #65E4D8;
}

body.style-speakers {
    background: #000;
    --primary-dark: #fff;
    --secondary-dark: #F48FB1;
    --side-color: #111;
    --side-highlight: #F48FB1;
}

body.style-venue {
    background: #F8F8F8;
    --primary-dark: #011715;
    --secondary-dark: #65E4D8;
    --side-color: #fff;
    --side-highlight: #65E4D8;
}

body.style-video {
    background: #F8F8F8;
    --primary-dark: #011715;
    --secondary-dark: #65E4D8;
    --side-color: #fff;
    --side-highlight: #65E4D8;
}

.section {
    padding-left: 300px;
    padding-right: 40px;
    padding-top: 40px;
    z-index: 2;
    position: relative;
    max-width: 1360px;
    margin: auto;
}

/* navigation */

nav {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0px;
    left: 0px;
    padding: 24px;
    background: var(--side-color);

}

nav li {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 48px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
    list-style: none;
    text-transform: uppercase;
    transition: color 0.2s linear;
}

body.style-intro .scrollToLink.intro-link,
body.style-tickets .scrollToLink.tickets-link,
body.style-events .scrollToLink.events-link,
body.style-speakers .scrollToLink.speakers-link,
body.style-venue .scrollToLink.venue-link,
body.style-video .scrollToLink.video-link {
    color: var(--side-highlight);
}


/* intro titles */

#introData {
    height: 80vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-title-1 {
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
}
.intro-title-2 {
    margin:32px 0 48px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}
.intro-title-3 {
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 600;
    max-width:450px;
}


/* tickets */
.tickets-block {
    border-radius: 4px;
    background: #fff;
    color: var(--primary-dark);
    padding:20px;
    border-top: 3px solid var(--primary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.tickets-meta-title {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}
.tickets-main-title {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.3px;
    margin-bottom: 6px;
}
.tickets-subtitle {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}
.button {
background: var(--primary-dark);
color:#fff;
text-transform: uppercase;
font-size: 16px;
line-height: 28px;
font-weight: 600;
padding: 6px 14px;
font-family: 'IBM Plex Sans';
cursor: pointer;
border-radius: 4px;
transition: all 0.2s linear;
}
.button:hover {
background: var(--side-highlight);

}

/* Events table */
.section-title {
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 600;
    line-height: 72px;
    color: var(--secondary-dark);
    padding-bottom: 44px;
}

.event-collection-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 40px 0;
}

.event-tile {
    padding: 4px 0 10px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    /* justify-content: center; */
}

.event-block {
    padding: 40px 0;
    border-top: 4px solid var(--secondary-dark);
    cursor: pointer;
   
}
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-block span .event-button{
    color:var(--primary-dark);
    opacity: 0;
    transition: all 0.3s linear;
    transform: rotate(0deg);

    }
 
    .isOpen span .event-button{
    transform: rotate(180deg);
    }
.event-block:hover .event-time,
.event-block:hover .event-tile__meta,
.event-block:hover .event-tile__title,
.event-block:hover span .event-button,
.event-block:hover .event-tile__author {
    color:#F48FB1;
    opacity: 1;
}

.event-titles {
    display: flex;
    width: 100%;
}
.event-time {
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    width: var(--padding-date);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-dark);
    padding-top: 20px;
}
.event-time.no-subtitle {
    padding-top: 4px;
}

.event-tile__meta {
    /* padding-left: var(--padding-date); */
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
}

.event-tile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary-dark);
    font-style: italic;
    font-family: 'IBM Plex Serif', serif;
}

.event-tile__author {
    /* padding-left: var(--padding-date); */
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
}


.event-content {
    display: block;
    height: auto;
    max-height:0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    margin-left: var(--padding-date);
    max-width: 550px;
    font-size: 14px;
    color:var(--primary-dark);
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-top: 0px;

}

 .isOpen .event-content{
    max-height:1000px;
    margin-top: 24px;
}

/* Speakers */
.speakers-col {
    display: flex;
    flex-flow: column;
}

.speakers-block {
    display: flex;
    flex-flow: row;
}
.speaker-tile {
   max-width: 320px;
   margin-right: 24px;
}
.speaker-tile.grid-hide {
display: none;
}
.speaker-tile-header {
    height:230px;
    background: var(--secondary-dark);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    margin-bottom: 16px;
    background-size: cover;
}
.speaker-tile .speaker-tile-title {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.5px;
    padding-bottom: 4px;

}
.speaker-tile .speaker-tile-subtitle {
    font-size: 10px;
    line-height: 18px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Mono', monospace;
}
.speaker-tile .speaker-tile-desc {
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-dark);
    font-family: 'IBM Plex Sans', monospace;
    padding-bottom: 24px;

}


/* videos */
.video-tile {
    padding: 8px;
    background: rgba(1,23,21,0.07);
    transition: all 0.2s linear;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    
}
.video-tile .material-icons {
opacity: 0;
color: var(--side-highlight);
width:24px;
overflow: hidden;
}
.video-tile:hover .material-icons {
opacity: 1;
}
.video-tile.video-active {
    background: #65E4D8;
} 
.video-tile:hover {
    background: var(--primary-dark);
} 

.video-title {
    font-family: 'IBM Plex Serif', serif;
font-size: 15px;
line-height: 16px;
margin-bottom: 4px;
color: var(--primary-dark);
}

.video-subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
font-size: 12px;
line-height: 14px;
color: var(--primary-dark);
}
.video-tile:hover .video-title ,  .video-tile:hover .video-subtitle{
    color:var(--side-highlight);
    }



    /* mobbile */

    @media only screen and (max-width: 640px) {
        *{
            --padding-date:56px;
        }
        #map {
            width: 100%;
            left: 0px;
        }
    nav {
        display: none;
    }
    .section {
        padding-left: 12px;
        padding-right: 32px;
    }
    .event-tile {
        align-items: flex-start;
    }
    .event-tile__title {
        font-size: 16px;
        line-height: 22px;
    }
    .event-tile__author {
        font-size: 12px;
        line-height: 16px;  
    }
    .event-time {
font-weight: 500;
font-size: 16px;
line-height: 22px;
    }
    .speaker-tile {
width: 100%;
max-width: 100%;
    }
    .speaker-tile.grid-hide {
        display: block;
        }
    .speakers-col { 

    display: none;
}
    .speakers-col:first-child  {
        display: block;
    }
    
    .speakers-block {
        display: block;
    }

    }