<!-- <!DOCTYPE HTML> -->
<html>
    
    <head>
    
       
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ISVIS 2019</title>
    <meta name="description" content="Performance 0:6 / Autumn Cult">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta property="og:type" content="website" /> -->
    <meta property="og:title" content="ISVIS 2019" />
    <meta property="og:site_name" content="ISVIS 2019" />
    <meta property="og:description" content="ISVIS 2019" />
    <!-- <meta property="og:image" content="http://svt-hazira.com/ogimage.png" /> -->
    <!-- <meta property="og:image:url" content="http://svt-hazira.com/ogimage.png" /> -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    <!-- <meta property="og:url" content="http://svt-hazira.com" /> -->
    
    <link rel="icon" href="/favicon.ico?v=1.2">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

    </head>
    
    <!-- https://api.mapbox.com/styles/v1/tamirp/cjnl52zxy51282so382fpu33u.html?fresh=true&title=true&access_token=pk.eyJ1IjoidGFtaXJwIiwiYSI6ImNqNmtvcjBieTFtOGgzMm52NWQ1Nnc1NTkifQ.CxOvrXtNgryGkkgXkiShsQ#13.7/32.087510/34.810045/0 -->


    <body class="body-start">
                <div id='map'></div>

        <nav>
            <li class='scrollToLink intro-link' scrolltarget='introData'>Intro</li>
            <li class='scrollToLink tickets-link' scrolltarget='ticketsData'>Tickets</li>
            <li class='scrollToLink events-link' scrolltarget='eventsData'>Schedule</li>
            <li class='scrollToLink speakers-link' scrolltarget='SpeakersData'>Speakers</li>
            <li class='scrollToLink venue-link' scrolltarget='VenueData'>Venue</li>
            <li class='scrollToLink video-link' scrolltarget='VideoData'>Videos</li>
        </nav>
        <div class="section" id="introData" styleClass="style-intro" line-color="#fff"> 
                
                <div class="intro-title-1">{{introSection.title1}}</div>
                <div class="intro-title-2">{{introSection.title2}}</div>
                <div class="intro-title-3">{{introSection.title3}}</div>

                
        </div>
        <div class="section" id="ticketsData" styleClass="style-tickets" line-color="#fff" >
                <div class="section-title">Tickets</div>
                <div class="tickets-container">

                    <div class="tickets-block"  v-for="ticket in ticketsSection" >
                            <div class="block" v-bind:class="{ 'is-disabled': ticket.isSoldOut}">
                                        <div v-if="ticket['meta-title']" class="tickets-meta-title">{{ticket['meta-title']}}</div>
                                        <div class="tickets-main-title">{{ticket.title}}</div>
                                        <div class="tickets-subtitle">{{ticket.price}}</div>
                            </div>
                            <div class="button">purchase  </div>
                            
                    </div>
                </div>
                
        </div>
        <div class="event-section section" id="eventsData" styleClass="style-events" line-color="#65E4D8">
            <div class="transition section-title">Schedule</div>
                <div v-for="eventCollection in eventSection">
                <div class="transition event-collection-title">{{ eventCollection.title }}</div>
            <div v-for="event in eventCollection.eventCollection" class="transition event-block">
                        <div v-if="event.meta" class=" transition event-tile__meta">{{ event.meta }}</div>
                <div class="event-tile">

                        <div class="transition event-time">{{ event.hour }}</div>
                        <div class="transition event-tile__title">{{ event.title }}</div>
                </div>
                        <div class="transition event-tile__author">{{ event.author }}</div>
                </div>
               
            </div>
        </div>
        <div class="section" id="SpeakersData" styleClass="style-speakers" line-color="#fff">
                <div class="section-title">Speakers</div>
                <div class="speakers-block" >
                            <div v-for="speaker in speakersSection">
                           {{speaker.name}}
                           
                        </div>
                    </div>      
        </div>
        <div class="section" id="VenueData" styleClass="style-venue" line-color="#fff">
                <div class="section-title">Venue</div>
            
        </div>
        <div class="section" id="VideoData" styleClass="style-video" line-color="#65E4D8">
                <div class="section-title">Videos</div>
                <div class="videos-block" >
                        <div v-for="video in videosSection">
                       {{video.videoTitle}}
                       
                    </div>
                </div>    
            
        </div>
    </div>

          <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          
    <script type="text/javascript" src="js/location.js"></script>
            <script type="text/javascript" src="js/functions.js"></script>
            <!-- <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm67yX_uydV6NDro4OIc0T5Y2XVCzuXBE&callback=initMap">
            </script> -->

            <!-- TODO: add analytics -->
    
    </body>
    
    </html>