<!-- <!DOCTYPE HTML> -->
<html>
    
    <head>
    
       
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ISVIS 2019</title>
    <meta name="description" content="Performance 0:6 / Autumn Cult">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta property="og:type" content="website" /> -->
    <meta property="og:title" content="ISVIS 2019" />
    <meta property="og:site_name" content="ISVIS 2019" />
    <meta property="og:description" content="ISVIS 2019" />
    <!-- <meta property="og:image" content="http://svt-hazira.com/ogimage.png" /> -->
    <!-- <meta property="og:image:url" content="http://svt-hazira.com/ogimage.png" /> -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    <!-- <meta property="og:url" content="http://svt-hazira.com" /> -->
    
    <link rel="icon" href="/favicon.ico?v=1.2">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    </head>
    
    <!-- https://api.mapbox.com/styles/v1/tamirp/cjnl52zxy51282so382fpu33u.html?fresh=true&title=true&access_token=pk.eyJ1IjoidGFtaXJwIiwiYSI6ImNqNmtvcjBieTFtOGgzMm52NWQ1Nnc1NTkifQ.CxOvrXtNgryGkkgXkiShsQ#13.7/32.087510/34.810045/0 -->


    <body class="body-start">
                <div id='map'></div>

        <nav>
            <li class='scrollToLink intro-link' scrolltarget='introData'>Intro</li>
            <li class='scrollToLink tickets-link' scrolltarget='ticketsData'>Tickets</li>
            <li class='scrollToLink events-link' scrolltarget='eventsData'>Schedule</li>
            <li class='scrollToLink speakers-link' scrolltarget='SpeakersData'>Speakers</li>
            <li class='scrollToLink venue-link' scrolltarget='VenueData'>Venue</li>
            <li class='scrollToLink video-link' scrolltarget='VideoData'>Videos</li>
        </nav>
        <div class="section" id="introData" styleClass="style-intro" line-color="#fff" map-pitch="70"> 
                
                <div class="intro-title-1">{{introSection.title1}}</div>
                <div class="intro-title-2">{{introSection.title2}}</div>
                <div class="intro-title-3">{{introSection.title3}}</div>

                
        </div>
        <div class="section" id="ticketsData" styleClass="style-tickets" line-color="#fff" map-pitch="50">
                <div class="section-title">Tickets</div>
                <div class="tickets-container">

                    <div class="tickets-block"  v-for="ticket in ticketsSection" >
                            <div class="block" v-bind:class="{ 'is-disabled': ticket.isSoldOut}">
                                        <div v-if="ticket['meta-title']" class="tickets-meta-title">{{ticket['meta-title']}}</div>
                                        <div class="tickets-main-title">{{ticket.title}}</div>
                                        <div class="tickets-subtitle">{{ticket.price}}</div>
                            </div>
                            <div class="button">purchase  </div>
                            
                    </div>
                </div>
                
        </div>
        <div class="event-section section noselect" id="eventsData" styleClass="style-events" line-color="#65E4D8" map-pitch="30" >
            <div class="transition section-title">Schedule</div>
                <div v-for="eventCollection in eventSection">
                <div class="transition event-collection-title">{{ eventCollection.title }}</div>
            <div v-for="event in eventCollection.eventCollection" class="transition event-block"  v-bind:class="{ isOpen: event.isOpen }">
                    <div class="event-header" v-on:click="event.isOpen=!event.isOpen">
                    
                    <div class="event-titles">

                                <div class="transition event-time" :class="{'no-subtitle':!(event.meta)}">{{ event.hour }}</div>
                   
                <div class="event-tile">

                        <div v-if="event.meta" class=" transition event-tile__meta">{{ event.meta }}</div>

                        <div class="transition event-tile__title">{{ event.title }}</div>
                        <div class="transition event-tile__author">{{ event.author }}</div>

                </div>
                <span>
                                <i class="material-icons event-button">
                                                arrow_downward
                                                </i> 
                </span>
        </div>
                
        </div>
        <div class="event-content">
                        {{ event.content }}
        </div>

                </div>
               
            </div>
        </div>
        <div class="section" id="SpeakersData" styleClass="style-speakers" line-color="#F48FB1" map-pitch="10">
                <div class="section-title">Speakers</div>
                <div class="speakers-block" >
                <div class="speakers-col" v-for="colnum in 3">
                        <div v-for="(speaker, index) in speakersSection" class="speaker-tile" :class="{'grid-hide': index % 3 !== colnum-1}">
                                    <div class="speaker-tile-header">
                                                    <div class="speaker-tile-title">{{speaker.name}}</div>
                                                    <div class="speaker-tile-subtitle">{{speaker.subtitle}}</div>
                                                   
                                    </div>
                                    <div class="speaker-tile-desc">{{speaker.desc}}</div>
                    </div>
                </div>   
                </div>   
        </div>
        <div class="section" id="VenueData" styleClass="style-venue" line-color="#fff" map-pitch="0">
                <div class="section-title">Venue</div>
            
        </div>
        <div class="section" id="VideoData" styleClass="style-video" line-color="#65E4D8" map-pitch="0">
                <div class="section-title">Videos</div>
                <div class="videos-block" >
                        <div v-for="video in videosSection" class="transition video-tile" :style="getTime(video.videoLength)">
                                <div class="block" style="flex-grow: 1">
                                                <div class="transition video-title">{{video.videoTitle}}</div>
                                                <div class="transition video-subtitle">{{video.videoAuthor}} • {{video.videoLength}}</div>
                                               
                                </div>
                                <div class="block" style="width:24px;align-items: center;display: flex;">
                                                <i class="material-icons">
                                                                play_circle_filled_white
                                                                </i>
                                </div>
                               
                       
                    </div>
                </div>    
            
        </div>
    </div>

          <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          
    <script type="text/javascript" src="js/location.js"></script>
            <script type="text/javascript" src="js/functions.js"></script>
            <!-- <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm67yX_uydV6NDro4OIc0T5Y2XVCzuXBE&callback=initMap">
            </script> -->

            <!-- TODO: add analytics -->
    
    </body>
    
    </html>